/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

/* TOP NAVIGATION */

$orange : #F5911E;
$topbar-bg-color: $orange;
$topbar-title-font-size: rem-calc(20);