/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */
@import 'settings';


/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,300,600);

$font-nav: 'Roboto', sans-serif;
/* $font-header: 'Dosis', sans-serif;*/

$body-font-family: 'Roboto', sans-serif;

/* TYPOGRAHPY */
/*$header-font-family: $font-header;*/

h2
{
 
  text-align:center;
  border-bottom:1px solid #ccc;
  padding-bottom:15px;
  font-weight:lighter;
    
}

/* Layout */

 $row-width: 100%;

$table-row-padding: rem-calc(40);

/* imagery */

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://link-to-your/image.jpg) no-repeat;
	}

.wave {
   position: absolute;
   height: 70px;
   width: 600px;
   background: #fff;
 }

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 340px;
  height: 80px;
  background-color: white;
  right: -5px;
  top: 40px;
}
.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 300px;
  height: 70px;
  background-color: #e0efe3;
  left: 0;
  top: 27px;
}

.button-wrapper
{
 
   margin: 5% auto 0;
    text-align:center;
        
}

h1
{
 
 border-bottom:2px #ccc solid;  
    
color:#888 !important;
    
}


.container .columns .orange
{
   
    background:#F7993D !important;
    
}

.orange h1, .orange h2,  .orange h3, .orange p
{

    color:#fff !important;
    
    border-bottom:none;
    
}



.border-row
{
    
 border-left:solid 1px #e0e0e0; 
     border-right:solid 1px #e0e0e0; 
     border-bottom:solid 1px #e0e0e0; 
    
}



/* Header */
.site-logo 
{
    
    margin: 15px 40px;

}


/* TOP NAVIGATION */

$orange : #F7993D;
$transparent:rgba(0,0,0,0.0);
$lightblue: #82B2CB;

$topbar-bg-color: $orange; 
$topbar-title-font-size: rem-calc(40);
$topbar-margin-bottom: 0;
$topbar-link-font-family: $body-font-family;
$topbar-link-font-size: rem-calc(16);
$topbar-bg-color: $transparent;


$topbar-bg: $transparent;
$topbar-dropdown-bg: $transparent;

$topbar-dropdown-bg: none;       // Make this none
$topbar-dropdown-link-bg: none;   // Make this none
$topbar-link-hover-lightness: -10% ; // Darken by 10%
$topbar-link-bg: none; // Make this none
$topbar-link-bg-hover: $orange; // Make this none
$topbar-link-bg-active: none; // Make this none
$topbar-link-bg-active-hover: none; // Make this none
$topbar-dropdown-label-bg: none; // Make this none


// Divider Styles
$topbar-divider-border-bottom: solid 2px  scale-color($lightblue, $lightness: 100%);
$topbar-divider-border-top: solid 2px scale-color($lightblue, $lightness: -50%);

/* MOBILE MENU */

$tabbar-bg: $transparent !default;


.tab-bar {
    margin: 0;
    z-index: 1;
}

.tab-bar .menu-icon
{
 
    top:20px;
    left:20px;
    position:relative;
}




.top-bar-menu.right
{
 
margin-top:33px;  
    
    margin-right:30px;
    
}

.top-bar {
  background-color: rgba(0,0,0,0.9);
}


.contain-to-grid .top-bar {
    margin: 0;
    z-index: 1;
}


.top-bar-container, .tab-bar
{
    
 margin-bottom:0 !important;   
    
}

/* SLIDER */      


.master-slider h1, .master-slider h2, .master-slider h3, .master-slider h4, .master-slider p
{
    
    color: #fff !important;
          
}




.master-slider
{
 
    position:relative !important;
    
    top:-60px;
    
}

.ms-default-btn {
    background: none repeat scroll 0 0 #82B3CC !important;
    border-radius: 5px;
    color: #fff;
}

@media #{$small-only} 
{ 

    .master-slider h1, .master-slider h2, .master-slider h3, .master-slider h4
{
 
    font-size:1.2rem;
    
}
    
    .ms-view
    {
       
        overflow:visible !important;
        
    }


}

/* Footer */
 
.sub-footer {
    background: none repeat scroll 0 0 #82b2cc;
    color: #fff;
    padding: 40px; 
}

.sub-footer a, .sub-footer p, .sub-footer h2, .sub-footer h3
{
 
    color:#ddd;
    
}    
    

footer#site-footer {
    background: none repeat scroll 0 0 #222;
    border-top: 20px solid #000;
    min-height: 215px;
    padding-top:40px;
}

footer#site-footer li
{
 
    list-style:none;
    color:#f4f4f4;
    
}

footer#site-footer a
{
 
    font-size:0.8rem;
    
}
 

footer#site-footer h6
{
 
    font-size:1.2rem;
    
    color:#ccc;
    
    text-transform: uppercase;
    
}

footer#site-footer ul
{
 
    margin:0;
    
}

footer#site-footer a, footer#site-footer p, footer#site-footer h1, footer#site-footer h2, footer#site-footer h3, footer#site-footer li, footer#site-footer h6 {
    color:#fff;
    text-align:left;
} 

.top-bar-section li:last-child
{
 
    background:$orange;
    
}

/* BUTTONS */
    $button-bg-color: $white;
 $button-border-width: 1px;
 $button-border-style: solid;
 $button-border-color: #ddd;


.content-page .top-bar, .content-page .top-bar-container
{
 
    background:url("/wp-content/uploads/2014/11/slide11-1000x580.png");
    height:110px;
    
}

/* Products */
.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3
{
 
    text-align:center;
     
}

.button.product_type_simple {
    display: block !important;
    margin: 0 auto !important;
}

.container .columns
{
 
    background:#fff !important;
    
    padding:60px;
    
}


/* Woo Commerce */
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary

{
 
    width:100% !important;
    
    float:none !important;
    
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images
{
 
    width:100% !important;
    
}

.top-bar-container
{
 
      background: url("/wp-content/uploads/2014/11/slide11-1000x580.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 110px;
    
}







