/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

/* Header */
.site-logo 
{
    
    margin: 15px 40px;

}


/* TOP NAVIGATION */

$orange : #cccccc;
$topbar-bg-color: $orange; 
$topbar-title-font-size: rem-calc(40);

/* Grid */
$row-width: rem-calc(1000); 



